<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.weather.app</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/kennypratt/anaconda3/bin/python3</string>
        <string>/Users/kennypratt/Documents/Weather_Models/app.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/kennypratt/Documents/Weather_Models</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/kennypratt/Documents/Weather_Models/logs/flask_app.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/kennypratt/Documents/Weather_Models/logs/flask_app_error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/kennypratt/anaconda3/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
